QToolButton {
    background-color: @active_color; /* Rojo oscuro */
    color: @text_color;
    border: 2px solid @active_color; /* Bordes rojo más oscuro */
    border-radius: 5px;
    padding: 5px 10px;
}
QToolButton:hover {
    background-color: @active_hover; /* Rojo más vibrante al pasar el ratón */
}
QToolButton:pressed {
    background-color: @active_pressed; /* Rojo más oscuro al hacer clic */
}